@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&family=IBM+Plex+Sans+JP:wght@300;400;500;700&family=Lora:ital@0;1&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

*,
:after,
:before {
  box-sizing: border-box;
  background-color: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: "IBM Plex Sans JP", sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  line-height: 1.5;
  font-size: 1rem;
  color: rgb(22, 23, 26);
}

.bigTitle {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 6rem;
}

// .second {
//   display: flex;
//   margin-top: -8rem;
// }

.imgContainer {
  position: relative;
  display: inline-block;
}

.container {
  margin-bottom: 3rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
  &:hover .postImage {
    visibility: visible;
  }
}

.textContainer {
  margin-left: 2rem;
  time {
    color: #2f2f2f;
  }
  h3 {
    margin: 0;
    font-size: 1rem;
    font-weight: 300;
  }
  h2 {
    font-size: 1.1rem;
    line-height: 1.4;
    margin: 0.5rem 0;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
  }
}

.posts .postImage {
  display: inline-block;
  height: 15rem;
  top: 0;
  left: 0;
  border-radius: 3px;
  position: absolute;
  visibility: hidden;
}

.postImage--grey {
  display: inline-block;
  height: 15rem;
  border-radius: 3px;
  z-index: -99;
}

.mainTitle {
  position: relative;
}

.pipe {
  z-index: -99;
  // flex: 33.33%;
  width: 500px;
  bottom: -26rem;
  right: 0px;
  position: absolute;
}

.home > p {
  // float: left;
  width: 45%;
  margin-top: 1rem;
}

.home details {
  margin-top: 1rem;
  margin-bottom: 3.5rem;
}

.home details[open] {
  margin-bottom: 1.5rem;
}

.home details p {
  padding: 0.5rem 0 0 1rem;
}

.home .button {
  width: 10rem;
  // height: 3rem;
  padding: 0.5rem;
  text-align: center;
  font-size: 1rem;
  font-family: "IBM Plex Sans JP", sans-serif;
  font-weight: bold;
  color: #ffffff;
  text-decoration: none;
  background-color: #16171a;
  border: none;
  border-radius: 5px;
}

.logo {
  text-align: right;
  margin-right: 2rem;
  font-family: "Fira Code", monospace;
  font-size: 0.9rem;
  margin-bottom: -0.2rem;
  img {
    width: 35px;
  }
  p {
    visibility: hidden;
  }
  &:hover p {
    visibility: visible;
  }
  display: block;
}
.post h1 {
  font-size: 4rem;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

.post .project {
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  font-weight: 300;
}

nav {
  border-right: 1px solid #edf2f7;
  position: sticky;
  top: 0;
}

a {
  color: #000;
  text-decoration-skip-ink: auto;
  text-decoration: underline;
}

pre {
  margin: 0.5rem 0;
  padding: 0.5rem;
}

.post p {
  margin: 1rem 0;
}

.post h2,
.post h3,
.post h4 {
  margin: 1rem 0;
}

.post h2:first-child,
.project h2:first-child,
.photo h2:first-child {
  margin-top: 0;
}

.meta {
  margin-top: 2rem;
}

code,
pre {
  background: rgb(236, 237, 238);
}

code {
  padding: 0.1rem;
}

pre code {
  border: none;
}

pre {
  padding: 1rem;
  overflow-x: auto;
}

img {
  max-width: 100%;
}

hr {
  background: #000;
  height: 1px;
  border: 0;
}

header {
  flex-basis: 10rem;
  flex-grow: 1;
  position: relative;
}

header a {
  text-decoration: none;
}

header li {
  margin-top: 1.2rem;
  text-align: right;
  margin-right: 2rem;
  &:hover a {
    text-decoration: overline;
  }
}

header a.active {
  font-weight: bold;
}

header,
section {
  padding: 1rem;
}

blockquote {
  font-style: italic;
  border-left: 5px solid #ececec;
  padding-left: 1rem;
}

h1,
h2,
h3,
h4,
h5 {
  line-height: 1;
  margin: 1rem 0;
  font-weight: 600;
}

section h1:first-child {
  margin-top: 0;
}

strong,
b {
  font-weight: bold;
}

.photos ul {
  list-style: none;
}

.photos li {
  margin-bottom: 1.5rem;
}

.photo picture,
.project picture {
  margin-bottom: 0.5rem;
}

.posts ul,
header ul {
  list-style: none;
}

.posts li {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.posts li a,
.posts li div,
.projects li a {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-decoration: none;
}

.posts li time,
.projects li time {
  padding-left: 1rem;
  white-space: nowrap;
  font-variant-numeric: tabular-nums;
}

.post ul,
.project ul,
.post ol {
  //list-style-position: inside;
}

main {
  display: flex;
  flex-wrap: wrap;
  max-width: 60rem;
  margin: 2rem auto;
  padding: 1rem;
}

@media screen and (max-width: 45rem) {
  header li {
    display: inline;
    margin-right: 1rem;
  }
  .logo {
    padding-bottom: 1rem;
  }
  header ul {
    border-bottom: 1px solid #edf2f7;
    padding-bottom: 2rem;
  }
  nav ul {
    border-right: 0px;
  }

  .photos ul {
    margin-top: 0.5rem;
  }
}

section {
  flex-basis: 0;
  flex-grow: 999;
  min-width: 70%;
  display: flex;
  flex-direction: column;
}

figcaption {
  font-size: smaller;
}

.cv {
  font-family: "Fire Code", monospace;
  border: #16171a 1px solid;
  border-radius: 2px;
  padding: 2rem;
  margin: 1.5rem 0;
  h2 {
    font-size: 1.3rem;
    font-weight: 600;
  }
  h3 {
    font-weight: 400;
    text-decoration: underline;
    margin-top: 2rem;
  }
  h4 {
    font-weight: 600;
    margin: 1.5rem 0 0.5rem 0;
    i {
      font-weight: 400;
      font-style: normal;
    }
    // text-decoration: underline;
  }
  .school {
    margin: 0.5rem 0;
  }
}

.about {
  h1 {
    margin: 0;
    font-size: 1.7rem;
  }
  > h2 {
    font-size: 1.3rem;
    font-weight: 300;
    margin-top: 1.5rem;
  }
}
